<ul class="list-group">
    {% for comment in comments %}
        <li class="list-group-item">
            <div class="ml-2">
                <p class="col-sm">
                    <a href="{{ url_for('users.user_profile', username=comment.author.username) }}">{{ comment.author.username }}</a>
                </p>
                <a class="col-sm" href="{{ url_for('users.user_profile', username=comment.author.username) }}">
                    <img class="align-self-start img-circle img-thumbnail"
                         src="/static/profile_pics/{{ comment.author.image_file }}" width="50">
                </a>
            </div>
            <div class="comment-content">
                <div class="comment-body">
                    {{ comment.body }}
                </div>

                <p class="post-date card-text text-muted"><small>
                    Posted {{ moment(comment.timestamp).fromNow() }}</small></p>
            </div>
        </li>
    {% endfor %}
</ul>