{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}SocialApp - Home{% endblock %}
{% block page_content %}
    <div>
        {% if current_user.check_access(Permission.WRITE) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    <div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('main.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('main.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
        {% include '_posts.html' %}
        {% include '_pagination.html' %}
    </div>
{% endblock %}
